body
{
	background: #7E57C2;
}
h2{
	font-size: 50px;
	color: #D1C4E9;

}
div { 
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
	color: #ffffff; 
	font-size: 10px; 
	font-width: 80px;
	text-align: center; 
	background: #889ccf; 
	margin: 10 5 25px; 
	overflow: hidden; 
	padding: 15px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
}
legend{
	 font-family: Time new roman;
	 font-size: 25px;
	 color:#D1C4E9;
}
h4{
	font-family: Time new roman;
	font-size: 20px;
	color:#D1C4E9;
}
